<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eider.domomcu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RegistroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IluminacionActivity"
            android:label="@string/title_activity_iluminacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActuadoresActivity"
            android:label="@string/title_activity_actuadores"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HabitacionesActivity"
            android:label="@string/title_activity_habitaciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SensoresActivity"
            android:label="@string/title_activity_sensores"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificacionesActivity"
            android:label="@string/title_activity_notificaciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactenosActivity"
            android:label="@string/title_activity_contactenos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfiguracionesActivity"
            android:label="@string/title_activity_configuraciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>